<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/app.css">
    <title>Add Task</title>
  </head>
  <body>
    <form action="http://localhost:3000/new" method="POST">
      <label for="task">Enter Task</label>
      <input type="text" id="task" name="task" placeholder="task" required/>
      <button class="add-btn">Add</button>
    </form>
  </body>
</html>
